.togle-clients{
    display: flex;
    justify-content: flex-start;
}
.cardClients{
    background-color: #FFFFFF!important;
    width: 100%;
    max-width: 330px;
    height: 280px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;

    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}
hr{
    
}